[Unit]
Description=Webserver (nginx+phpfpm) container
After=docker.service
After=docker-registry.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/network.env
TimeoutStartSec=0
RestartSec=15
TimeoutStartSec=2m
Restart=always
ExecStartPre=-/usr/bin/docker kill webserver
ExecStartPre=-/usr/bin/docker rm webserver
ExecStartPre=/usr/bin/docker pull johanadriaans/clusterf.ck-webserver
ExecStart=/usr/bin/docker run --rm --name webserver \
  -e ETCD_ENDPOINTS=127.0.0.1:2379 \
  -v /mnt/data/user_data:/var/www/vhosts \
  -p ${MY_PRIVATE_IPV4}:1080:80 \
  --log-opt max-size=50m \
  johanadriaans/clusterf.ck-webserver
ExecStop=/usr/bin/docker stop webserver

[X-Fleet]
Global=true
